<% provide(:title, "About my space") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      <a href="http://www.yuanli.info/"><em>Yuanli information blog</em></a>
    </p>
  </body>
</html>