<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Joey Ruby on Rails Tutorial space</title>
  </head>
  <body>
    <h1>contact</h1>
    <p>
      <a href="http://www.yuanli.info/"><em>Yuanli information blog</em></a>
    </p>
  </body>
</html>